.footer {
    max-width: var(--content-max-width);
    margin: 0px auto;
    padding-top: 1.3125rem;
    color: var(--color-fg-title);
}

.link {
    /* display:inline-flex;
    align-items: center; */
    box-shadow: 0 1px 0 0 currentColor;
    color: var(--color-primary-fg);
}

.icon {
    float: right;
}