.blogHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 42px;
  }
  
.blogTitle{
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--color-primary-fg);
    cursor: pointer;
    display:flex;
    justify-content:center;
    align-items: center;
}