.homePageContainer {
    min-height: 100vh;
    padding: 0 2rem;
    background-color: var(--color-bg-page);
}

.homePage {
    padding: 2.625rem 0rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 10px auto;
}